In [2]:
import csv
import shapefile
# please put all the package used here
from collections import Counter
import pandas as pd
import csv
import pprint
import numpy as np
import warnings
import requests
import json
warnings.filterwarnings('ignore')
import psycopg2
import psycopg2.extras
import time
import ast # convert string to dictionary

In [3]:
def read_shapefile(shp_path):
	"""
	Read a shapefile into a Pandas dataframe with a 'coords' column holding
	the geometry information. This uses the pyshp package
	"""

	#read file, parse out the records and shapes
	sf = shapefile.Reader(shp_path)
	fields = [x[0] for x in sf.fields][1:]
	records = sf.records()
	shps = [s.points for s in sf.shapes()]

	#write into a dataframe
	df = pd.DataFrame(columns=fields, data=records)
	df = df.assign(coords=shps)

	return df

In [4]:
e = shapefile.Editor('SA2_2016_AUST.shp')
shapes = e.shapes()
len(shapes)

2310

In [5]:
count=576
while count < 2310:
    e.delete(576)
    count +=1
count=57
while count < 294:
    e.delete(57)
    count +=1

count=0
while count<27:
    e.delete(0)
    count +=1

In [6]:
e.save('Sydney2_2016_AUST.shp')

In [9]:
sf = shapefile.Reader('Sydney2_2016_AUST.shp')
sf.fields

[('DeletionFlag', 'C', 1, 0),
 ['SA2_MAIN16', 'C', 9, 0],
 ['SA2_5DIG16', 'C', 20, 0],
 ['SA2_NAME16', 'C', 50, 0],
 ['SA3_CODE16', 'C', 5, 0],
 ['SA3_NAME16', 'C', 50, 0],
 ['SA4_CODE16', 'C', 3, 0],
 ['SA4_NAME16', 'C', 50, 0],
 ['GCC_CODE16', 'C', 5, 0],
 ['GCC_NAME16', 'C', 50, 0],
 ['STE_CODE16', 'C', 3, 0],
 ['STE_NAME16', 'C', 50, 0],
 ['AREASQKM16', 'N', 31, 15]]

In [ ]:
sydney_only = read_shapefile('Sydney2_2016_AUST.shp')

In [107]:
'102011028' in data_abs["SA2_MAIN16"]

False

In [85]:
type(data_abs["SLA_CODE10"][0])

str

In [46]:
NE_lat=data_abs["coords"][0][0][0]   # -33
NE_lng=data_abs["coords"][0][0][1]     #150
SW_lat=data_abs["coords"][0][0][0] 
SW_lng=data_abs["coords"][0][0][1] 
for i in data_abs["coords"][0]:
    if i[0] > NE_lng:
        NE_lng = i[0]
    if i[0] < SW_lng:
        SW_lng = i[0]
    if i[1] > NE_lat:
        NE_lat = i[1]
    if i[1] < NE_lat:
        NE_lat = i[1]

In [45]:
data_abs["coords"][0][0][0]

151.230796256

In [47]:
print(NE_lat,NE_lng,SW_lat, SW_lng)

-33.9533638235 151.23168144 151.230796256 -33.9533638235

In [121]:
data_SA2 = pd.read_csv('SA2_2016_AUST.csv')

In [122]:
del data_SA2["SA2_5DIG16"]
del data_SA2["SA3_CODE16"]
del data_SA2["SA4_CODE16"]
del data_SA2["SA4_NAME16"]
del data_SA2["SA3_NAME16"]
del data_SA2["GCC_CODE16"]
del data_SA2["STE_NAME16"]
del data_SA2["STE_CODE16"]
del data_SA2["AREASQKM16"]
del data_SA2["GCC_NAME16"]

In [126]:
data_SA2.head(20)

,SA2_MAIN16,SA2_NAME16,coords
0,101021007,Braidwood,"[(149.58423299700007, -35.44426999899997), (14..."
1,101021008,Karabar,"[(149.2189819130001, -35.36739402599994), (149..."
2,101021009,Queanbeyan,"[(149.2132479820001, -35.34324799199993), (149..."
3,101021010,Queanbeyan - East,"[(149.240332114, -35.34782261699996), (149.240..."
4,101021011,Queanbeyan Region,"[(149.23580096700005, -35.38737530299994), (14..."
5,101021012,Queanbeyan West - Jerrabomberra,"[(149.1957028700001, -35.361273282999946), (14..."
6,101031013,Bombala,"[(148.6800153580001, -36.992665312999975), (14..."
7,101031014,Cooma,"[(149.07506124500003, -36.240489611999976), (1..."
8,101031015,Cooma Region,"[(148.60437297700003, -36.13515199999995), (14..."
9,101031016,Jindabyne - Berridale,"[(148.27032917400004, -36.464141680999944), (1..."
10,101041017,Batemans Bay,"[(150.23535000000004, -35.70385700399993), (15..."
11,101041018,Batemans Bay - South,"[(150.21296498800007, -35.724339000999976), (1..."
12,101041019,Bega - Tathra,"[(149.9836330060001, -36.74973700299995), (149..."
13,101041020,Bega-Eden Hinterland,"[(150.00533200000007, -37.162580005999985), (1..."
14,101041021,Broulee - Tomakin,"[(150.20411100100011, -35.833849991999955), (1..."
15,101041022,Deua - Wadbilliga,"[(149.90354098300008, -36.192879990999984), (1..."
16,101041023,Eden,"[(149.91634401500005, -37.074006001999976), (1..."
17,101041024,Eurobodalla Hinterland,"[(150.28196699700004, -35.71031300499993), (15..."
18,101041025,Merimbula - Tura Beach,"[(149.93159002900006, -36.89753899799996), (14..."
19,101041026,Moruya - Tuross Head,"[(150.04985419000002, -35.911898494999946), (1..."

In [127]:
data_SA2.to_csv("SA2_2016_AUST.csv",index=False)

In [20]:
data_Neighbourhoods.head()

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738.0
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907.0
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102.0
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666.0
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126.0

In [34]:
data_Neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 6 columns):
area_id                 312 non-null int64
area_name               312 non-null object
land_area               312 non-null float64
population              311 non-null float64
number_of_dwellings     312 non-null int64
number_of_businesses    309 non-null float64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.7+ KB

## input missing value

In [35]:
count = 0
for i in data_Neighbourhoods['number_of_businesses']:
    if ".0" not in str(i):  # missing value
        print(i)
        data_Neighbourhoods['number_of_businesses'][count] = 0
    count += 1

# check
for i in data_Neighbourhoods['number_of_businesses']:
    if ".0" not in str(i): 
        print("if print this, fail-----")

nan
nan
nan

In [36]:
count = 0
for i in data_Neighbourhoods['population']:
    if ".0" not in str(i):  # missing value
        print(i)
        data_Neighbourhoods['population'][count] = 0
    count += 1

# check
for i in data_Neighbourhoods['population']:
    if ".0" not in str(i): 
        print(i)
        print("if print this, fail-----")

nan

In [ ]:
pod_name = []
for i in data_Neighbourhoods['area_name']:
    
    pod_name.append(i)