In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import numpy as np
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm


sns.set_context('notebook') 
sns.set_style('ticks')
red='#D62728'
blue='#1F77B4'
%matplotlib inline

In [23]:
df  = pd.read_csv("meituanZhangYeyeInfos/Zhangyeye_Tags_shanghai.csv")
df = df.drop_duplicates()
df.to_csv('meituanZhangYeyeInfos/Zhangyeye_Tags_shanghai.csv',index=False)
df.shape

(10, 2)

In [25]:
df

     标签  累计数量
0   味道赞    16
1   分量足     8
2   上菜快     7
3  性价比高     7
4  服务热情     4
5   回头客     3
6  价格实惠     3
7  环境优雅     3
8    午餐     8
9    拔草     3